<h2>スケジュール詳細</h2>
    <table>
        <tr>
            <th>ID</th>
            <td><%= @post.id %></td>
        </tr>
        <tr>
            <th>タイトル</th>
            <td><%= @post.title %></td>
        </tr>
        <tr>
            <th>開始日時</th>
            <td><%= @post.start_day.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
            <th>終了日時</th>
            <td><%= @post.finish_day.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
            <th>メモ</th>
            <td><%= @post.memo %></td>
        </tr>
        <tr>
            <th>作成日時</th>
            <td><%= @post.created_at.to_s(:datetime_jp) %></td>
        </tr>
    </table>
    <div>
        <ul>
            <li><%= link_to "スケジュール一覧に戻る", posts_path %></li>
            <li><%= link_to "スケジュールを編集", edit_post_path(@post.id) %></li>
            <li><%= link_to "スケジュールを削除", post_path(@post.id), method: :delete, data: { confirm: "削除しますか？？"} %></li>
        </ul>
    </div>