<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>スケジュール管理アプリ</h1>
      </header>
      <%= yield %>
      <footer>
        <p>現在の時刻は<%= Time.zone.now.to_s(:datetime_jp) %>です。</p>
      <footer>
    </div>
  </body>
</html>
